<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Auth</title>
</head>
<body>
    <h1> OTP Authenticator </h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
        <label for="emailId">Enter your Email ID : </label>
        <input type="email" name="emailId" id="emailId">
        <input type="submit" value="Submit">
        </div>  
    </form>
    {% if status %}
    <h2>Status : {{status}} </h2>
    {% endif %}
</body>
</html>